.map {
  position: relative;
  height: 400px;
  width: 100%;
}

.search-container {
  position: absolute;
  top: 20px; /* Adjust the top position as needed */
  left: 60px; /* Adjust the left position as needed */
  z-index: 1000;

  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 5px;
  width: 300px;
}

.search-container input {
  flex: 1; /* Grow to fill available space */
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 25px;
  font-size: 16px;
}

.search-container button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  right: 100px;
}

.search-container button:hover {
  background-color: #0056b3;
}

ul.suggestions {
  list-style: none;
  padding: 0;
  margin-top: -10px;

  position: absolute;
  width: 210px;
  z-index: -1000;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 10px 10px 10px 10px; /* Rounded corners at the bottom */
  /* Ensure suggestions appear above other content */
}

ul.suggestions li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.2s;
}

/* Highlight the suggestion on hover */
ul.suggestions li:hover {
  background-color: #f0f0f0;
}
